<div class="container-fluid-px-0 py-5">
    <div class="separator col-12 mb-5 p-0">
        <span class="d-none d-xl-flex"></span>
        <h2 class="text-center">{{panel.descripcion}}</h2>
        <span class="d-none d-xl-flex"></span>
    </div>
    <div class="row w-100 p-0 justify-content-center">
        <div class="col-12 d-flex">
            <div class="row">
                {{#each Modelos}}
                    
                        <div class="col">
                            <div class="col m-4">
                              <div class="card card-shop mx-2 text-left">
                                  <a href="/{{descripcion}}s/{{id}}">
                                    <img
                                      class="mx-auto p-0"
                                      src="images/dbimagenes/{{descripcion}}s/{{id}}.png"
                                      alt=""
                                      height="294px" width="246px"
                                    />
                                  </a>
                                  <p class="card-shop-type m-0 pl-3">{{modelo}}</p>
                                  <p class="card-shop-name m-0 pl-3">{{color}}</p>
                                  <p class="card-shop-price m-0 pl-3">S/.{{precio}}</p>
                              </div>
                            </div>
                        </div>
                {{/each}}
              
              <div class="col-12">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          <li class="page-item"><a
                              class="page-link"
                              href="#"
                            >Primero</a></li>
                          <li class="page-item active"><a
                            class="page-link"
                            href="#"
                          >1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a
                              class="page-link"
                              href="#"
                            >Ultimo</a></li>
                      </ul>
                  </nav>
              </div>
            </div>
        </div>
    </div>
</div>